@charset "UTF-8";

/* Todas as Midias  */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

html, body { 
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;

}

h1 {
    color: white;
    text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.27);
    padding: 10px;
    
}